body {
  padding: 0;
  margin: 0;
  font-family: Courier,Monaco,monospace;
  font-size: 1vw;
  overflow: hidden;
  background-color: white;
}

#buttonBar {
  width: 100vw;
  height: 5vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background: gray;
  /* display: none; */
}

#output::before {
  content: "Output: ";
}

#debugContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 99;
}

#outputHolder {
  position: absolute;
  width: 40vw;
  height: 30vw;
  opacity: 0;
}

#videoTest, #canvasTest {
  width: 40vw;
  height: auto;
  position: absolute;
}

#debugOutput {
  margin-left: 2vw;
}

#facesOutput {
  width: 40vw;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  /* display: none; */
}

#facesOutput img {
  max-width: 10vw;
  height: auto;
}


  /*        */
 /* Pretty */
/*        */

#textOutput {
  width: calc(100vh / 1.4142135623730950488016887242097);
  height: 100vh;
  white-space: pre;
  background: #333;
  color: white;
  padding-left: 1vw;
  padding-top: 1vw;
  font-size: 1vw;
}

@keyframes blinkingCursor {
  0% {
    content: '█';
  }
  50% {
    content: ' ';
  }
  100% {
    content: '█';
  }
}

#textOutput::after {
  animation: blinkingCursor 1s linear infinite;
  content: '█';
}